//
//  Secret.xcconfig
//  mega
//
//  Created by 이경민 on 11/8/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
KAKAO_NATIVE_APP_KEY = 83a715e0a8cd173f80d65af959bd3c73
KAKAO_REST_API_KEY   = c9ed3e7fd0c4cdf56e9d13aaa5785c68
